<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt-br" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="pt-br" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="pt-br"> <!--<![endif]-->
<head>
    <title>RHAPE - Curso de Pós-Graduação Norte e Nordeste de Reprodução Humana Assistida</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/plugins/animate-css/animate.min.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ STATIC_URL }}/css/styles-2.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll">
    <!-- ******HEADER****** -->
    <header id="top" class="header navbar-fixed-top">
        <div class="container">
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <img id="logo-image" class="logo-image" src="{{ STATIC_URL }}/images/logo/logo.png" alt="Logo">
                    <!-- <span class="logo-title">Delta</span> -->
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Vantagens</a></li>
                        <li class="nav-item"><a class="scrollto" href="#course">Conheça</a></li>
                        <li class="nav-item"><a class="scrollto" href="#team">Equipe</a></li>
                        <li class="nav-item"><a class="scrollto" href="#cost">Preços</a></li>
                        <li class="nav-item"><a class="scrollto" href="#subscribe">Inscrição</a></li>
                        <li class="nav-item last"><a class="scrollto" href="#contact">Contato</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->

    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">Pós-Graduação em Reprodução Humana Assistida</h2>
                    <ul class="summary">
                        <li>Mercado em Expansão</li>
                        <li>Somos Únicos no Norte / Nordeste</li>
                        <li>Novas Oportunidades</li>
                        <li>Estude com os Melhores</li>
                    </ul>
                    <div class="download-area">
                        <ul class="btn-group list-inline">
                          <li>
                            <a href="#course" class="btn btn-lg scrollto"><i class="fa fa-plus-square"></i> Conheça</a>
                          </li>
                          <li>
                            <a href="#subscribe" class="btn btn-lg scrollto"><i class="fa fa-edit"></i> Inscreva-se</a>
                          </li>
                        </ul>
                        <div class="note text-center">
                            <p>Conheça mais e garanta a<br />sua vaga, turmas limitadas!</p>
                            <span class="left-arrow"></span>
                            <span class="right-arrow"></span>
                        </div><!--//note-->
                    </div>
                </div><!--//overview-->

                <!--// iPhone starts -->
                <div class="phone iphone iphone-black col-md-4 col-sm-12 col-xs-12 ">
                    <div class="iphone-holder phone-holder">
                        <div class="iphone-holder-inner">
                            <div class="slider flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="{{ STATIC_URL }}/images/media/doctor1.png"  alt="" />
                                    </li>
                                    <!-- <li>
                                        <img src="{{ STATIC_URL }}/images/iphone/iphone-slide-2.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="{{ STATIC_URL }}/images/iphone/iphone-slide-3.png"  alt="" />
                                    </li> -->
                                </ul><!--//slides-->
                            </div><!--//flexslider-->
                        </div><!--//iphone-holder-inner-->
                    </div><!--//iphone-holder-->
                </div><!--//iphone-->
                <!--// iPhone ends -->

                <!--// Android starts -->
                <div class="phone android col-md-4 col-sm-12 col-xs-12" style="display:none">
                    <div class="android-holder phone-holder">
                        <div class="android-holder-inner">
                            <div class="slider flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="{{ STATIC_URL }}/images/android/android-slide-1.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="{{ STATIC_URL }}/images/android/android-slide-2.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="{{ STATIC_URL }}/images/android/android-slide-3.png"  alt="" />
                                    </li>
                                </ul><!--//slides-->
                            </div><!--//flexslider-->
                        </div><!--//phone-holder-inner-->
                    </div><!--//iphone-holder-->
                </div><!--//iphone-->
                <!--// Android ends -->

                <!--// iPad starts -->
                <div class="ipad ipad-black col-md-4 col-sm-12 col-xs-12 col-md-pull-1" style="display:none">
                    <div class="ipad-holder">
                        <div class="ipad-holder-inner">
                            <div class="slider flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="{{ STATIC_URL }}/images/ipad/ipad-slide-1.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="{{ STATIC_URL }}/images/ipad/ipad-slide-2.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="{{ STATIC_URL }}/images/ipad/ipad-slide-3.png"  alt="" />
                                    </li>
                                </ul><!--//slides-->
                            </div><!--//flexslider-->
                        </div><!--//ipad-holder-inner-->
                    </div><!--//ipad-holder-->
                </div><!--//ipad-->
                <!--// iPad ends -->

            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->

    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center sr-only">Vantagens</h2>
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-user-md"></i>
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Aulas Práticas</h3>
                        <p>Aulas práticas na renomada clínica Nascer-Medicina Reprodutiva, afiliada à Rede Latino-Americana de Reprodução Assistida (LARA).</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-flag-checkered"></i>
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Saia na frente</h3>
                        <p>O RHAPE é a primeira pós graduação em reprodução humana á chegar no Norte e Nordeste, esteja pronto e saia na frente no mercado.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-dollar"></i>
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Novas Oportunidades</h3>
                        <p>O aumento da procura pela RHA faz desse mercado um campo promissor, além da ampliação dessa área para a rede pública de saúde.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Estude com os Melhores</h3>
                        <p>Profissionais de renome na área da RHA estão reunidos em um único curso para formar profissionais de excelência.</p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-->

    <!-- ******COURSE****** -->
    <section id="course" class="how section has-pattern">
      <div class="container">
        <div class="row">
          <div class="content col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6 ">
            <h2 class="title text-center">O Curso</h2>
            <p class="intro">
              Curso será dividido em 4 Módulos cada modalidade com duração do curso de 13 meses e previsão de início em Setembro/2014.<br />
              Carga horária total: 420 horas.<br /><br />
              <strong>Objetivo</strong><br />
              <i class="fa fa-check"></i> Capacitar profissionais de saúde na área de Reprodução Humana Assistida, oferecendo base teórica e prática;<br />
              <i class="fa fa-check"></i> Fornecer noções teóricas e práticas de rotina clínica e laboratorial;<br />
              <i class="fa fa-check"></i> Oferecer noções de empreendedorismo na área de RHA;<br />
              <i class="fa fa-check"></i> Adequar a área de RHA para a visão de saúde pública, administrada pelo SUS;<br /><br />
              <strong>Público alvo</strong><br />
              Profissionais com graduação nas áreas das Ciências Biológicas e da Saúde.</p>
            <div class="qr-codes hidden-sm hidden-xs text-center">
              <div class="note">
                <p>Garanta já a sua vaga!</p>
                <span class="left-arrow"></span>
                <span class="right-arrow"></span>
              </div><!--//note-->
              <div class="row">
                <div class="item col-md-6 col-sm-6">
                  <!-- <img src="{{ STATIC_URL }}/images/qrcodes/qr-1.png" alt="" /> -->
                  <a href="#cost" class="btn btn-lg btn-theme scrollto"><i class="fa fa-dollar"></i> Preços</a>
                </div><!--//item-->
                <div class="item col-md-6 col-sm-6">
                  <!-- <img src="{{ STATIC_URL }}/images/qrcodes/qr-1.png" alt="" /> -->
                  <a href="#subscribe" class="btn btn-lg btn-theme scrollto"><i class="fa fa-edit"></i> Inscrição</a>
                </div><!--//item-->
              </div>
            </div><!--//qr-codes-->

          </div><!--//content-->

          <!-- ******CAROUSEL****** -->
          <div class="video-container col-md-5 col-sm-5 col-xs-12 col-md-pull-6 col-sm-pull-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{{ STATIC_URL }}images/media/local0.jpg">
                  <!-- <div class="carousel-caption">
                    ...
                  </div> -->
                </div>
                <div class="item">
                  <img src="{{ STATIC_URL }}images/media/local1.jpg">
                  <!-- <div class="carousel-caption">
                    ...
                  </div> -->
                </div>
                <div class="item">
                  <img src="{{ STATIC_URL }}images/media/local2.jpg">
                  <!-- <div class="carousel-caption">
                    ...
                  </div> -->
                </div>
                <div class="item">
                  <img src="{{ STATIC_URL }}images/media/local3.jpg">
                  <!-- <div class="carousel-caption">
                    ...
                  </div> -->
                </div>
              </div>

              <!-- Controls -->
              <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a> -->
            </div>
          </div>

          <!-- <div id="video-container" class="video-container col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
              <iframe src="//player.vimeo.com/video/87044590" width="570" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div> --><!--//video-->
        </div><!--//row-->
      </div><!--//container-->
    </section><!--//how-->

    <!-- ******FAQ****** -->
    <section id="team" class="team section">
        <div class="container">
            <div class="row">
                <!-- <h2 class="title text-center">Frequently Asked Questions</h2> -->
                <div class="teacher col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="member col-md-3 text-center">
                            <img class="img-rounded" src="{{ STATIC_URL }}/images/team/" alt="" />
                            <p class="name">Andrea Crepaldi</p>
                            <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            <ul class="connect list-inline">
                                <li class="row-end">
                                  <a href="http://lattes.cnpq.br/1987488987111389" title="Ver currículo" ><i class="fa fa-graduation-cap"></i></a>
                                </li>
                            </ul>
                        </div><!--//member-->
                        <div class="member col-md-3 text-center">
                            <img class="img-rounded" src="{{ STATIC_URL }}/images/team/carolina-aleluia.jpg" alt="" />
                            <p class="name">Carolina Aleluia</p>
                            <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            <ul class="connect list-inline">
                                <li class="row-end">
                                  <a href="http://lattes.cnpq.br/1987488987111389" title="Ver currículo" ><i class="fa fa-graduation-cap"></i></a>
                                </li>
                            </ul>
                        </div><!--//member-->
                        <div class="member col-md-3 text-center">
                            <img class="img-rounded" src="{{ STATIC_URL }}/images/team/ciro-dresch.jpg" alt="" />
                            <p class="name">Ciro Dresch Martinhago</p>
                            <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            <ul class="connect list-inline">
                                <li class="row-end">
                                  <a href="http://lattes.cnpq.br/1987488987111389" title="Ver currículo" ><i class="fa fa-graduation-cap"></i></a>
                                </li>
                            </ul>
                        </div><!--//member-->
                        <div class="member col-md-3 text-center">
                            <img class="img-rounded" src="{{ STATIC_URL }}/images/team/" alt="" />
                            <p class="name">Helena Nascimento Bastos</p>
                            <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            <ul class="connect list-inline">
                                <li class="row-end">
                                  <a href="http://lattes.cnpq.br/1987488987111389" title="Ver currículo" ><i class="fa fa-graduation-cap"></i></a>
                                </li>
                            </ul>
                        </div><!--//member-->
                    </div>
                    <div class="row">
                        <div class="member col-md-3 text-center">
                            <img class="img-rounded" src="{{ STATIC_URL }}/images/team/" alt="" />
                            <p class="name">Joanna D’arc Lira Batista</p>
                            <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            <ul class="connect list-inline">
                                <li class="row-end">
                                  <a href="http://lattes.cnpq.br/1987488987111389" title="Ver currículo" ><i class="fa fa-graduation-cap"></i></a>
                                </li>
                            </ul>
                        </div><!--//member-->
                        <div class="member col-md-3 text-center">
                            <img class="img-rounded" src="{{ STATIC_URL }}/images/team/mosar-lopes.jpg" alt="" />
                            <p class="name">Mosar Lopes</p>
                            <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            <ul class="connect list-inline">
                                <li class="row-end">
                                  <a href="http://lattes.cnpq.br/1987488987111389" title="Ver currículo" ><i class="fa fa-graduation-cap"></i></a>
                                </li>
                            </ul>
                        </div><!--//member-->
                        <div class="member col-md-3 text-center">
                            <img class="img-rounded" src="{{ STATIC_URL }}/images/team/" alt="" />
                            <p class="name">Mônica Heine</p>
                            <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            <ul class="connect list-inline">
                                <li class="row-end">
                                  <a href="http://lattes.cnpq.br/1987488987111389" title="Ver currículo" ><i class="fa fa-graduation-cap"></i></a>
                                </li>
                            </ul>
                        </div><!--//member-->
                        <div class="member col-md-3 text-center">
                            <img class="img-rounded" src="{{ STATIC_URL }}/images/team/" alt="" />
                            <p class="name">Sandro Estevão</p>
                            <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            <ul class="connect list-inline">
                                <li class="row-end">
                                  <a href="http://lattes.cnpq.br/1987488987111389" title="Ver currículo" ><i class="fa fa-graduation-cap"></i></a>
                                </li>
                            </ul>
                        </div><!--//member-->
                    </div>
                </div><!--//team-->
            </div><!--//row -->
        </div><!--//container-->
    </section><!--//faq-->

    <!-- ******COST****** -->
    <section id="cost" class="cost section has-pattern">
        <div class="container">
            <div class="row">
                <div class="box col-md-8 col-sm-8 col-xs-12 col-md-push-2 col-sm-push-2">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h3>Módulo Laboratorial</h3>
                            <div class="area">
                              <h3><sup>R$</sup>16.800,00 <small>á vista</small></h3>
                              <span class="legend">
                                <p>Mediante o comprovante bancário, dinheiro ou cheque, a inscrição será efetivada.</p>
                              </span>
                            </div>
                            <div class="area">
                              <h3><sup>R$</sup>19.200,00 <small>á prazo</small></h3>
                              <span class="legend">
                                <p>Parcelamento em até 1 + 11 vezes, sendo 1.920,00 o ato da inscrição e + 11 parcelas de 1.920,00 com boleto bancário.</p>
                              </span>
                            </div>
                        </div><!--//member-->
                        <div class="col-md-6 text-center">
                            <h3>Módulo Clínico</h3>
                            <div class="area">
                              <h3><sup>R$</sup>27.200,00 <small>á vista</small></h3>
                              <span class="legend">
                                <p>Mediante o comprovante bancário, dinheiro ou cheque, a inscrição será efetivada.</p>
                              </span>
                            </div>
                            <div class="area">
                              <h3><sup>R$</sup>31.200,00 <small>á prazo</small></h3>
                              <span class="legend">
                                <p>Parcelamento em até 1 + 11 vezes, sendo 3.120,00 o ato da inscrição e + 11 parcelas de 3.120,00 com boleto bancário.</p>
                              </span>
                            </div>
                        </div><!--//member-->
                    </div><!--//row -->
                    <div class="row">
                        <div class="note text-center">
                          <p>Aproveite essa oportunidade.<br />Escolha o seu modúlo e faça sua <a href="#subcribe">pré-inscrição.</a></p>
                            <!-- <span class="left-arrow"></span>
                            <span class="right-arrow"></span> -->
                        </div><!--//note-->
                    </div><!--//row -->
                </div><!--//team-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->

    <!-- ******SUBSCRIBE****** -->
    <section id="subscribe" class="testimonials section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">Pré-Inscrição</h2>
                <div class="item col-md-8 col-sm-8 col-xs-12 col-md-push-2 col-sm-push-2">
                    <form role="form">
                        <div class="form-group col-xs-12">
                            <label for="id_name">Nome Completo</label>
                            <input type="text" class="form-control" id="id_name" placeholder="Nome Completo">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="id_cpf">CPF</label>
                            <input type="text" class="form-control" id="id_cpf" placeholder="CPF">
                        </div>
                        <div class="form-group col-xs-8">
                            <label for="id_email">Email</label>
                            <input type="email" class="form-control" id="id_email" placeholder="Email">
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="id_mobile">Celular</label>
                            <input type="text" class="form-control" id="id_mobile" placeholder="Telefone Celular">
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="id_phone">Residencial</label>
                            <input type="text" class="form-control" id="id_fone" placeholder="Telefone Residencial">
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="id_cep">CEP</label>
                            <input type="text" class="form-control" id="id_cep" placeholder="CEP">
                        </div>
                        <div class="form-group col-xs-7">
                            <label for="id_address">Endereço</label>
                            <input type="text" class="form-control" id="id_address" placeholder="Endereço">
                        </div>
                        <div class="form-group col-xs-2">
                            <label for="id_number">Número</label>
                            <input type="text" class="form-control" id="id_number" placeholder="Número">
                        </div>
                        <div class="form-group col-xs-5">
                            <label for="id_district">Bairro</label>
                            <input type="text" class="form-control" id="id_district" placeholder="Bairro">
                        </div>
                        <div class="form-group col-xs-2">
                            <label for="id_uf">UF</label>
                            <select class="form-control" id="id_uf">
                                <option>PE</option>
                                <option>SP</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-5">
                            <label for="id_city">Cidade</label>
                            <select class="form-control" id="id_city">
                                <option>Recife</option>
                                <option>Garanhuns</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="id_graduation">Graduação</label>
                            <select class="form-control" id="id_graduation">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="id_year">Ano Conclusão</label>
                            <select class="form-control" id="id_year">
                                <option>2014</option>
                                <option>2013</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-8">
                            <label for="id_institute">Instituição</label>
                            <select class="form-control" id="id_institute">
                                <option>Instituição 1</option>
                                <option>Instituição 2</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="id_special">Necessidades Especiais</label>
                            <select class="form-control" id="id_special">
                                <option>Não</option>
                                <option>Sim</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-9">
                            <label for="id_special_description">Qual Necessidade Especial Você Tem?</label>
                            <input type="text" class="form-control" id="id_special_description" placeholder="Informe a necessidade especial">
                        </div>
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Enviar Inscrição!</button>
                        </div>
                    </form>
                </div>
            </div><!--//row -->

            <div class="press row text-center">
                <h3 class="note">Conheça nossos parceiros...</h3>
                <ul class="col-md-12 list-inline">
                    <li><a href="#"><img class="img-responsive" src="{{ STATIC_URL }}/images/press/clinica-nascer.jpg" alt="" /></a></li>
                    <li><a href="#"><img class="img-responsive" src="{{ STATIC_URL }}/images/press/villa-boa-vista.png" alt="" /></a></li>
                </ul>
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//Testimonials-->

    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="row text-center">
                <h2 class="title">Contato</h2>
                <!-- <div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <p>We’d love to hear from you. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut erat magna. Aliquam porta sem a lacus imperdiet posuere. Integer semper eget ligula id eleifend.</p>
                    <ul class="list-unstyled contact-details">
                        <li><i class="fa fa-envelope"></i><a href="mailto:hello@website.com">hello@website.com</a></li>
                        <li><i class="fa fa-phone-square"></i>0800 123 456</li>
                    </ul>
                </div> -->
            </div><!--//row-->
            <div class="row text-center">
                <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <form class="form">
                        <div class="form-group name">
                            <label class="sr-only" for="name">Nome</label>
                            <input id="name" type="text" class="form-control" placeholder="Nome:">
                        </div><!--//form-group-->
                        <div class="form-group phone">
                            <label class="sr-only" for="phone">Fone</label>
                            <input id="phone" type="text" class="form-control" placeholder="Fone:">
                        </div><!--//form-group-->
                        <div class="form-group email">
                            <label class="sr-only" for="email">Email</label>
                            <input id="email" type="email" class="form-control" placeholder="Email:">
                        </div><!--//form-group-->
                        <div class="form-group subject">
                            <label class="sr-only" for="subject">Assunto</label>
                            <input id="subject" type="text" class="form-control" placeholder="Assunto:">
                        </div><!--//form-group-->
                        <div class="form-group message">
                            <label class="sr-only" for="message">Mensagem</label>
                            <textarea id="message" class="form-control" rows="6" placeholder="Mensagem:"></textarea>
                        </div><!--//form-group-->
                        <button type="submit" class="btn btn-lg btn-theme">Enviar Mensagem</button>
                    </form><!--//form-->
                </div><!--//contact-form-->
            </div><!--//row-->
            <div class="text-center">
                 <ul class="social-icons list-inline">
                    <!-- <li><a href="#" ><i class="fa fa-twitter"></i></a></li> -->
                    <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" ><i class="fa fa-google-plus"></i></a></li> -->
                </ul><!--//social-icons-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//contact-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container">
            <small class="copyright pull-left">Copyright &copy; 2014 RHAPE</small>
            <ul class="links list-inline">
                <li><a href="#">Dúvidas?</a></li>
                <li class="pull-right"><a href="http://jookle.com.br/">Jookle</a></li>
            </ul>
        </div>
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/detectmobilebrowser.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/main.js"></script>
    <!--[if !IE]>-->
    <script type="text/javascript" src="{{ STATIC_URL }}/js/animations.js"></script>
    <!--<![endif]-->
</body>
</html>

