{% load humanize %}
{% load l10n %}
{% load bootstrap3 %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt-br" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="pt-br" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="pt-br"> <!--<![endif]-->
<head>
    <title>RHAPE - Curso de Pós-Graduação Norte e Nordeste de Reprodução Humana Assistida</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/plugins/animate-css/animate.min.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ STATIC_URL }}/css/styles-2.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("input[type=text]").addClass("form-control");
    </script>
</head>

<body data-spy="scroll">
    <!-- ******HEADER****** -->
    <header id="top" class="header navbar-fixed-top">
        <div class="container">
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <img id="logo-image" class="logo-image" src="{{ STATIC_URL }}/images/logo/logo.png" alt="Logo">
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Vantagens</a></li>
                        <li class="nav-item"><a class="scrollto" href="#course">Conheça</a></li>
                        <li class="nav-item"><a class="scrollto" href="#team">Equipe</a></li>
                        <li class="nav-item"><a class="scrollto" href="#cost">Preços</a></li>
                        <li class="nav-item"><a class="scrollto" href="#subscribe">Inscrição</a></li>
                        <li class="nav-item last"><a class="scrollto" href="#contact">Contato</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->

    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">Pós-Graduação em Reprodução Humana Assistida</h2>
                    <ul class="summary">
                        <li>Aulas Práticas</li>
                        <li>Únicos no Norte / Nordeste</li>
                        <li>Alcance Novas Oportunidades</li>
                        <li>Estude com os Melhores</li>
                    </ul>
                    <div class="download-area">
                        <ul class="btn-group list-inline">
                          <li>
                            <a href="#course" class="btn btn-lg scrollto"><i class="fa fa-plus-square"></i> Conheça</a>
                          </li>
                          <li>
                            <a href="#subscribe" class="btn btn-lg scrollto"><i class="fa fa-edit"></i> Inscrição</a>
                          </li>
                        </ul>
                        <div class="note text-center">
                            <p>Conheça mais e garanta<br />sua presença, vagas limitadas!</p>
                            <span class="left-arrow"></span>
                            <span class="right-arrow"></span>
                        </div><!--//note-->
                    </div>
                </div><!--//overview-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->

    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center sr-only">Vantagens</h2>
                {% for step in steps %}
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa {{ step.icon }}"></i>
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">{{ step.title }}</h3>
                        <p>{{ step.description }}</p>
                    </div><!--//content-->
                </div><!--//item-->
                {% empty %}
                    <p>Aguardando conteúdo.</p>
                {% endfor %}
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-->

    <!-- ******COURSE****** -->
    <section id="course" class="how section has-pattern">
      <div class="container">
        <div class="row">
          <div class="content col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6 ">
            <h2 class="title text-center">O Curso</h2>
            <p class="intro">
              {% for course in courses %}
                {{ course.description|linebreaks }}
              {% empty %}
                <p>Aguardando conteúdo.</p>
              {% endfor %}
              <br />
              <strong>Objetivo</strong><br />
              {% for objective in objectivies %}
                <i class="fa fa-check"></i> {{ objective.description }}<br />
              {% empty %}
                <p>Aguardando conteúdo.</p>
              {% endfor %}
              <br />
              <strong>Público alvo</strong><br />
              {% for public in publics %}
                {{ public.description }}
              {% empty %}
                <p>Aguardando conteúdo.</p>
              {% endfor %}
              <br /><br />
            </p>
            <div class="qr-codes hidden-sm hidden-xs text-center">
              <div class="note">
                <p>Garanta já a sua vaga!</p>
                <span class="left-arrow"></span>
                <span class="right-arrow"></span>
              </div><!--//note-->
              <div class="row">
                <div class="item col-md-6 col-sm-6">
                  <!-- <img src="{{ STATIC_URL }}/images/qrcodes/qr-1.png" alt="" /> -->
                  <a href="#cost" class="btn btn-lg btn-theme scrollto"><i class="fa fa-dollar"></i> Preços</a>
                </div><!--//item-->
                <div class="item col-md-6 col-sm-6">
                  <!-- <img src="{{ STATIC_URL }}/images/qrcodes/qr-1.png" alt="" /> -->
                  <a href="#subscribe" class="btn btn-lg btn-theme scrollto"><i class="fa fa-edit"></i> Inscrição</a>
                </div><!--//item-->
              </div>
            </div><!--//qr-codes-->

          </div><!--//content-->

          <!-- ******CAROUSEL****** -->
          <div class="video-container col-md-5 col-sm-5 col-xs-12 col-md-pull-6 col-sm-pull-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                {% for gallery in galleries %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter }}"{% if forloop.first %} class="active"{% endif%}></li>
                {% empty %}
                    <p>Aguardando conteúdo.</p>
                {% endfor %}
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                {% for gallery in galleries %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        <img src="{{ gallery.image.url }}">
                          <!-- <div class="carousel-caption">
                            ...
                          </div> -->
                    </div>
                {% empty %}
                    <p>Aguardando conteúdo.</p>
                {% endfor %}
              </div>

              <!-- Controls -->
              <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a> -->
            </div>
          </div>

          <!-- <div id="video-container" class="video-container col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
              <iframe src="//player.vimeo.com/video/87044590" width="570" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div> --><!--//video-->
        </div><!--//row-->
      </div><!--//container-->
    </section><!--//how-->

    <!-- ******FAQ****** -->
    <section id="team" class="team section">
        <div class="container">
            <div class="row">
                <!-- <h2 class="title text-center">Frequently Asked Questions</h2> -->
                <div class="teacher col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        {% for team in teans %}
                            <div class="member col-md-3 text-center">
                                <img class="img-rounded" src="{% if team.image %}{{ team.image.url }}{% else %}{{ STATIC_URL }}images/team/no-image.jpg{% endif %}" alt="" />
                                <p class="name">{{ team.name }}</p>
                                <p class="title">{{ team.description }}</p>
                                <ul class="connect list-inline">
                                    <li class="row-end">
                                      <a href="{% if team.link %}{{ team.link }}{% else %}#{% endif %}" title="Ver currículo" ><i class="fa fa-graduation-cap"></i></a>
                                    </li>
                                </ul>
                            </div><!--//member-->
                        {% empty %}
                            <p>Aguardando conteúdo.</p>
                        {% endfor %}
                    </div>
                </div><!--//team-->
            </div><!--//row -->
        </div><!--//container-->
    </section><!--//faq-->

    <!-- ******COST****** -->
    <section id="cost" class="cost section has-pattern">
        <div class="container">
            <div class="row">
                <div class="box col-md-8 col-sm-8 col-xs-12 col-md-push-2 col-sm-push-2">
                    <div class="row">
                        {% for cost in costs %}
                        <div class="col-md-6 text-center">
                            <h3>{{ cost.title }}</h3>
                            <div class="area">
                              <h3><sup>R$</sup>{% localize off %}{{ cost.price1|intcomma }}{% endlocalize %} <small>á vista</small></h3>
                              <span class="legend">
                                <p>{{ cost.description1 }}</p>
                              </span>
                            </div>
                            <div class="area">
                              <h3><sup>R$</sup>{{ cost.price2|intcomma }} <small>á prazo</small></h3>
                              <span class="legend">
                                <p>{{ cost.description2 }}</p>
                              </span>
                            </div>
                        </div><!--//member-->
                        {% empty %}
                            <p>Aguardando conteúdo.</p>
                        {% endfor %}
                    </div><!--//row -->
                    <div class="row">
                        <div class="note text-center">
                          <p>Aproveite essa oportunidade.<br />Escolha o seu modúlo e faça sua <a href="#subscribe">pré-inscrição.</a></p>
                            <!-- <span class="left-arrow"></span>
                            <span class="right-arrow"></span> -->
                        </div><!--//note-->
                    </div><!--//row -->
                </div><!--//team-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->

    <!-- ******SUBSCRIBE****** -->
    <section id="subscribe" class="testimonials section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">Pré-Inscrição</h2>
                <div class="item col-md-8 col-sm-8 col-xs-12 col-md-push-2 col-sm-push-2">
                    {% if subscribe_success %}
                        <p>Pré-Inscrição realizada com sucesso.</p>
                        <a href="/" class="btn btn-default">Voltar</a>
                    {% else %}
                        <form class="form" role="form" method="post">
                            {% csrf_token %}
                            {% bootstrap_form subscribe_form %}
                            <input type="hidden" name="action" value="subscribe">
                            {% buttons %}
                                <button type="submit" class="btn btn-lg btn-theme">
                                    {% bootstrap_icon "checked" %} Enviar Inscrição!
                                </button>
                            {% endbuttons %}
                        </form><!--//form-->
                    {% endif %}
                </div>
            </div><!--//row -->

            <div class="press row text-center">
                <h3 class="note">Conheça nossos parceiros...</h3>
                <ul class="col-md-12 list-inline">
                    {% for partner in partners %}
                    <li><a href="{% if partner.link %}{{ partner.link }}{% else %}#{% endif %}"><img class="img-responsive" src="{{ partner.image.url }}" alt="{{ partner.name }}" title="{{ partner.name }}" /></a></li>
                    {% empty %}
                        <p>Arguardando conteúdo.</p>
                    {% endfor %}
                </ul>
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//Testimonials-->

    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="row text-center">
                <h2 class="title">Contato</h2>
                {% for contact in contacts %}
                <div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <p>{{ contact.content }}</p>
                    {% for enterprise in enterprises %}
                        <ul class="list-unstyled contact-details">
                            <li><i class="fa fa-envelope"></i>{{ enterprise.email }}</li>
                            <li><i class="fa fa-phone-square"></i>{{ enterprise.phone1 }}</li>
                        </ul>
                    {% empty %}
                        <p>Aguardando conteúdo.</p>
                    {% endfor %}
                </div>
                {% empty %}
                <p>Aguardando conteúdo.</p>
                {% endfor %}
            </div><!--//row-->
            <div class="row text-center">
                <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    {% if contact_success %}
                        <p>Mensagem enviada com sucesso.</p>
                        <a href="/" class="btn btn-default">Voltar</a>
                    {% else %}
                        <form class="form" role="form" method="post">
                            {% csrf_token %}
                            {% for field in contact_form %}
                            <div class="form-group{% if field.errors %} error{% endif %}">

                                {{ field }}
                                {% if field.errors %}
                                <span class="help-block">
                                    {{ field.errors|join:", " }}
                                </span>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <br/>
                            <input type="hidden" name="action" value="contact">
                            <button type="submit" class="btn btn-lg btn-theme">Enviar Mensagem</button>
                        </form><!--//form-->
                    {% endif %}
                </div><!--//contact-form-->
            </div><!--//row-->
            <div class="text-center">
                 <ul class="social-icons list-inline">
                    <!-- <li><a href="#" ><i class="fa fa-twitter"></i></a></li> -->
                    <li><a href="https://www.facebook.com/cursorha"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" ><i class="fa fa-google-plus"></i></a></li> -->
                </ul><!--//social-icons-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//contact-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container">
            {% for enterprise in enterprises %}
            <small class="copyright pull-left">Copyright &copy; 2014 {{ enterprise.name }}</small>
            {% empty %}
            <small class="copyright pull-left">Copyright &copy; 2014</small>
            {% endfor %}
            <ul class="links list-inline">
                <li><a href="#">Dúvidas?</a></li>
                <li class="pull-right"><a href="http://jookle.com.br/">Jookle</a></li>
            </ul>
        </div>
    </footer><!--//footer-->

    <!-- Javascript -->

    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/detectmobilebrowser.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/main.js"></script>
    <!--[if !IE]>-->
    <script type="text/javascript" src="{{ STATIC_URL }}/js/animations.js"></script>
    <!--<![endif]-->
</body>
</html>

