Você recebeu uma inscrição através do site do <a href="http://rhape.com.br"><strong>RHAPE</strong></a>:

Nome: <strong>{{ name }}</strong>
Fone: <strong>{{ mobile }}</strong>
E-mail: <strong>{{ email }}</strong>

Para ver o restante das informações e outras inscrições:
1 - Acesse: <a href="http://rhape.com.br/admin"><strong>http://rhape.com.br/admin</strong></a>
2 - Digite seu <strong>login</strong> e <strong>senha</strong>
3 - Entre no menu <strong>Inscrições</strong>
4 - Gerencie suas inscrições